.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 30px;
}

.img {
    width: 480px;
    height: 300px;
    transition: 0.3s;
}

.p1 {
    color: gray;
}

.des {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.des h5 {
    font-size: 33px;
    font-weight: 200;
}

.p2 {
    color: rgb(78, 75, 75);
    width: 70%;
}

.img:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0.10);
}

.button {
    width: max-content;
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 8px;
    transition: 0.3s;
}

.button:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
}

@media screen and (max-width: 990px) {
    .des h5 {
        font-size: 29px;
    }

    .p2 {
        width: 100%;
        font-size: 15px;
    }

    .img {
        width: 450px;
        height: 280px;
    }
}

@media screen and (max-width: 790px) {
    .card {
        flex-wrap: wrap;
    }

    .des {
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .des h5 {
        text-align: center;
    }

    .p2 {
        text-align: center;
    }

    .img {
        width: 100%;
        max-width: 450px;
        height: 240px;
    }
}