.containerOne {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.containerOne h2 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 110px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
}

.icon {
    font-size: 40px;
    cursor: pointer;
}

.card button {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 0.3s;
}

.card p {
    font-size: 20px;
}

@media screen and (max-width: 823px) {
    .cardsContainer {
        gap: 50px;
    }
}

@media screen and (max-width: 696px) {
    .cardsContainer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

@media screen and (max-width: 480px) {
    .containerOne {
        padding: 30px 0px;
    }
}

@media screen and (max-width: 425px) {
    .containerOne {
        padding: 10px 0px;
    }
}

.containerTwo {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    gap: 25px;
    position: relative;
}

.containerTwo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.containerTwo h1 {
    color: white;
    font-weight: 200;
    font-size: 50px;
    z-index: 5;
}

.containerTwo .button {
    width: fit-content;
    padding: 5px 50px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
    font-size: 23px;
    transition: 0.3s;
    z-index: 2;
}

.containerTwo .button:hover {
    background-color: black;
    color: white;
    border: 0;
}

@media screen and (max-width: 768px) {
    .containerTwo {
        padding-left: 50px;
        height: 450px;
    }

    .containerTwo h1 {
        font-size: 40px;
    }

    .containerTwo .button {
        font-size: 20px;
    }
}

@media screen and (max-width: 455px) {
    .containerTwo {
        padding-left: 0px;
        height: 350px;
        justify-content: center;
        align-items: center;
    }

    .containerTwo h1 {
        font-size: 30px;
        text-align: center;
    }

    .containerTwo .button {
        font-size: 16px;
    }
}

.containerThree{
    width: 100%;
    height: auto;    
    display: flex;    
    padding: 60px 0px;    
    flex-direction: column;
    gap: 40px;
}