.signinWrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100%;           
  padding: 40px 5px;           
}

.sign {
  width: 100%;
  max-width: 600px;  
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  justify-content: center;
}
